ul.employers
  > li
    list-style: none

    &:after
      content: ''
      display: block
      clear: both

    > .logo img
      max-width: 6rem
      float: left

    > .content
      margin-left: 7rem

      p
        margin-top: 1rem